doctype html
html(lang="es")
	head
		title Spettacolo TV
		link(href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700|Droid+Serif:400,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/app.css")
	body
		h1 Spettacolo TV

		script(src="js/app.js")